main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 200px;
    padding-bottom: 150px;
}

.filtroProductos{
    text-align: left;
    width: 90%;
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtroProductos div{
    width: 100%;
    height: 100%;
}

.filtroProductosBtn{
    width: 15%;
    height: 100%;
    background-color: var(--colorFiltro);
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.containerProductos{
    /* border: 2px solid red; */
    width: 90%;
}

.contenedorCard{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    overflow-y: hidden;
}

.containerContent{
    background-color: white;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.containerContent img{
    width: 150px;
    text-align: center;
    height: 40%;
    overflow-y: hidden;
}

.containerContent:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.containerContent h5{
    font-family: var(--tipografiaTitulos);
    color: var(--colorRosa);
    font-weight: 1000;
    font-size: 20px;
    height: 20%;
    border-top: 10px;
}

.containerContent p{
    font-family: var(--tipografiaTextos);
    font-size: 24px;
    color: var(--colorTextos);
    font-weight: 600;
    overflow-y: hidden;

}

.precioBoton{
    overflow-y: hidden;
}
.agregarBtn{
    background-color: var(--colorContraste2);
    border: none;
    color: white;
    font-weight: bold;
    font-family: var(--tipografiaTextos);
    font-size: 15px;
    overflow-y: hidden;
}