<app-navegation></app-navegation>
<main>
    <section class="filtroProductos">
        <div>
            <button class="filtroProductosBtn">
                FILTROS
                <i class="bi bi-funnel"></i>
            </button>
        </div>
    </section>

    <section class="containerProductos">
        <div class="container text-center container1">
            <div class="row container2">
              <div class="col-12 col-md-6 col-lg-4 contenedorCard" *ngFor="let producto of allProducts">
                <div class="card p-3 my-3 containerContent" style="width: 18rem;">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <img src="{{producto.imagen}}" class="card-img-top" alt="amigurumis">
                    <div class="card-body precioBoton">
                      <p class="card-text">$ {{producto.precioBase}}</p>
                      <a href="#" class="btn btn-primary agregarBtn">AGREGAR AL CARRITO</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</main>
<app-chat-bot></app-chat-bot>
<app-footer></app-footer>
