<header>
    <nav>
        <ul class="nav nav-underline miLista">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/catalogo">Inventario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/catalogo">Ventas</a>
              </li>
            <li class="nav-item" >
                <a routerLink="/" class="nav-item">
                    <button class="inicioBtn">
                        <i class="bi bi-door-open"></i>
                    </button>
                </a>
            </li>
          </ul>
    </nav>
</header>
<main>
    <section class="adminTexto">
        <h3>Usted esta en el perfil de administrador</h3>
        <h1>PRODUCTOS</h1>
    </section>
    
    <section class="containerTabla">
        <div class="containerBtns">
            <a class="peticionesBtn">
                <button type="button" (click)="agregarProducto()">AGREGAR PRODUCTOS</button>
            </a>
        </div>
        <div class="tablaProductos">
            <table>
                <thead>
                    <tr>
                        <th>PRODUCTOS</th>
                        <th>IMAGEN</th>
                        <th>PRECIO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- DEFINE UNA FILA -->
                    <tr class="productos" *ngFor="let producto of allProducts">
                        <!-- DEFINE UNA COLUMNA -->
                        <td class="tdContenido">
                            <p>{{producto.nombre}}</p>
                        </td>
                        <td class="tdContenido">
                            <img src="{{producto.imagen}}" alt="animales">

                        </td>

                        <td class="tdContenido">
                            <p>{{producto.precioBase}}</p>
                        </td>
                        <td class="actions tdContenido">
                            <button type="button" (click)="eliminarProducto(producto._id)">
                                <i class="bi bi-trash3"></i>
                            </button>
                            <button type="button" (click)="guardarProductoActualizar(producto)">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>

    
<div *ngIf="isAdding">
    <h3 class="text-center">AGREGANDO NUEVO PRODUCTO</h3>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control"  name="nombre"
        placeholder="Ingrese el nombre del producto"  [(ngModel)]="nombre"/>
    </div>
    <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input type="text" class="form-control" placeholder="Ingrese el url de la imagen"  name="imagen" [(ngModel)]="imagen"/>
    </div>
    <div class="mb-3">
        <label for="precioBase" class="form-label">Precio</label>
        <input type="number" class="form-control" placeholder="Ingrese el precio del producto"  name="precioBase" [(ngModel)]="precioBase"/>
    </div>
    
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3" (click)="agregarProducto()">Crear Producto</button>
    </div>
</div>

<div *ngIf="isUpdating">
    <h3 class="text-center">ACTUALIZAR PRODUCTO</h3>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control"  name="nombre"
        placeholder="Ingrese el nombre del producto"  [(ngModel)]="nombre"/>
    </div>
    <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input type="text" class="form-control" placeholder="Ingrese el url de la imagen"  name="imagen" [(ngModel)]="imagen"/>
    </div>
    <div class="mb-3">
        <label for="precioBase" class="form-label">Precio</label>
        <input type="number" class="form-control" placeholder="Ingrese el precio del producto"  name="precioBase" [(ngModel)]="precioBase"/>
    </div>
    
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3" (click)="actualizarProducto()">CONFIRMAR</button>
    </div>
</div>
</main>

