<header>
    <nav>
        <ul class="nav nav-underline miLista">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/catalogo">Inventario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/catalogo">Ventas</a>
              </li>
            <li class="nav-item" >
                <a routerLink="/" class="nav-item">
                    <button class="inicioBtn">
                        <i class="bi bi-door-open"></i>
                    </button>
                </a>
            </li>
          </ul>
    </nav>
</header>
<main>
    <section class="adminTexto">
        <h3>Usted esta en el perfil de administrador</h3>
        <h1>PRODUCTOS</h1>
    </section>
    
    <section class="containerTabla">
        <div class="containerBtns">
            <a href="#" class="peticionesBtn">
                <button>AGREGAR PRODUCTOS</button>
            </a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>PRODUCTOS</th>
                        <th>IMAGEN</th>
                        <th>PRECIO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- DEFINE UNA FILA -->
                    <tr class="productos">
                        <!-- DEFINE UNA COLUMNA -->
                        <td class="tdContenido">
                            <p>Nombre</p>
                        </td>
                        <td class="tdContenido">
                            <img src="assets/products/animales.png" alt="animales">

                        </td>

                        <td class="tdContenido">
                            <p>precio</p>
                        </td>
                        <td class="actions tdContenido">
                            <button>
                                <i class="bi bi-trash3"></i>
                            </button>
                            <button>
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>
</main>
