<section class="updateProduct">
    <div class="container">
        <div class="containerForms">
            <article class="cerrarModal">
                <button class="regresarBtn" (click)="cerrarModal()"><i class="bi bi-x-lg"></i></button>
            </article>
            <h3 class="text-center">EDITAR PRODUCTO</h3>
            <div class="mb-3">
                <input type="text" class="form-control"  name="nombre"
                placeholder="Ingrese el nombre del producto"  [(ngModel)]="nombre"/>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el url de la imagen"  name="imagen" [(ngModel)]="imagen"/>
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" placeholder="Ingrese el precio del producto"  name="precioBase" [(ngModel)]="precioBase"/>
            </div>
    
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3 enviarForms" (click)="adminComponent.agregarProductoModal()">Crear Producto</button>
            </div>
    
        </div>
    </div>
</section>