/* You can add global styles to this file, and also import other style files */

/* Importaciones */

/* Variables */

/* Condiciones iniciales */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hace que se respeten las medidas que quiero dar */
    box-sizing: border-box;
}