<app-navegation></app-navegation>
<main>
    <img src="assets/home/imgInicio.png" alt="peluches" class="imgContainer">
    <h1>BIENVENIDOS</h1>
    <div class="textoInicio">
        <p>¿Buscas algún regalo en especial?</p>
        <p>¿Algo para combinar con algun ser querido?</p>
        <p class="textoNegrilla"><span >!ESTE ES TU LUGAR¡</span></p>
    </div>
    <a routerLink="/catalogo">
        <button class="catalogoBtn">VER CATALOGO</button>
    </a>
</main>
<app-chat-bot></app-chat-bot>
<app-footer></app-footer>
