<main>
    <section class="containerInicioS">
        <div class="containerForms">
            <a routerLink="/"><button class="regresarBtn"><i class="bi bi-arrow-left-short"></i></button></a>
            <h1>BIENVENIDO</h1>
            <form action="iniciarSesion()" class="formularioUser">
                <input type="text" name="user" id="user" placeholder="Usuario" class="user" [(ngModel)]="usuario">
                <input type="password" name="password" id="password" placeholder="Contraseña" class="password" [(ngModel)]="contrasena">
                <button type="submit" class="enviarForms" (click)="iniciarSesionAdmin()">INICIAR SESION</button>
            </form>
        </div>
    </section>
</main>
